In [1]:
import pandas as pd

In [2]:
tables_path = "../../data/data_raw/"

address_df = pd.read_csv(tables_path + "address.csv")
cities_df = pd.read_csv(tables_path + "cities.csv")
clients_df = pd.read_csv(tables_path + "clients.csv")
service_labors_df = pd.read_csv(tables_path + "service_labors.csv")
services_df = pd.read_csv(tables_path + "services.csv")


print("Address:")
display(address_df.head())

print("Cities:")
display(cities_df.head())

print("Clients:")
display(clients_df.head())

print("Service Labors:")
display(service_labors_df.head(10))

print("Services:")
display(services_df.head(10))

Address:

,address_id,address,name,point,city,client,shop,alfred
0,147430,"Cl. 59 #56-63, Bogotá, Colombia",Casa,POINT (-74.0871398 4.6528474),149,82487.0,NaN,NaN
1,147429,"Cl. 4 #18-251, El Poblado, Medellín, El Poblad...",Casa,POINT (-75.55517019999999 6.199676500000002),1,82485.0,NaN,NaN
2,147428,Cra 40#10-12 Sur CIUDAD MONTES,casa,POINT (-74.09038559999999 4.5830756),149,NaN,NaN,NaN
3,147427,"Cra. 101 #150A 60, Bogotá, Colombia",Casa,POINT (-74.09003179999999 4.7487711),149,82288.0,NaN,NaN
4,147426,"Cra. 101 #150A 60, Bogotá, Colombia",Casa,POINT (-74.09003179999999 4.7487711),149,82288.0,NaN,NaN

Cities:

,city,name,data
0,43,ANTIOQUIA-DON MATIAS,"{""city_code"": 237, ""city_name"": ""DON MATIAS"", ..."
1,79,ANTIOQUIA-PUEBLORRICO,"{""city_code"": 576, ""city_name"": ""PUEBLORRICO"",..."
2,114,ANTIOQUIA-URAMITA,"{""city_code"": 842, ""city_name"": ""URAMITA"", ""de..."
3,115,ANTIOQUIA-URRAO,"{""city_code"": 847, ""city_name"": ""URRAO"", ""depa..."
4,151,BOLIVAR-ACHI,"{""city_code"": 6, ""city_name"": ""ACHI"", ""departm..."

Clients:

   client client_type
0     467         B2C
1     474         B2C
2     496         B2C
3     532         B2C
4     553         B2C

Service Labors:

,service_id,labor_id,labor_type,labor_name,labor_category,labor_price,labor_created_at,labor_start_date,labor_end_date,alfred,shop
0,64839,110329.0,3.0,Wash and Polish,WASH_AND_POLISH,119900.0,2022-10-28 11:04:58.814 -0500,NaN,NaN,NaN,215.0
1,64839,112351.0,12.0,Alfred Initial Transport,VEHICLE_TRANSPORTATION,0.0,2022-11-01 17:34:05.254 -0500,NaN,NaN,8594.0,NaN
2,64839,133512.0,2.0,Alfred Transport,VEHICLE_TRANSPORTATION,0.0,2022-12-15 08:53:50.909 -0500,NaN,NaN,8594.0,NaN
3,72389,126066.0,6.0,General Mechanics,GENERAL_MECHANICS,60000.0,2022-11-29 08:21:09.247 -0500,2023-01-13 07:00:00.000 -0500,2023-01-13 07:00:00.000 -0500,NaN,628.0
4,72807,126912.0,12.0,Alfred Initial Transport,VEHICLE_TRANSPORTATION,35000.0,2022-11-30 11:18:02.219 -0500,2023-01-14 10:04:00.000 -0500,2023-01-14 10:48:00.000 -0500,2306.0,NaN
5,72807,126913.0,3.0,Wash and Polish,WASH_AND_POLISH,20900.0,2022-11-30 11:18:02.306 -0500,2023-01-14 10:48:00.000 -0500,2023-01-14 11:30:00.000 -0500,NaN,237.0
6,72807,126914.0,2.0,Alfred Transport,VEHICLE_TRANSPORTATION,35000.0,2022-11-30 11:18:02.642 -0500,2023-01-14 11:30:00.000 -0500,2023-01-14 12:03:00.000 -0500,2306.0,NaN
7,72822,126944.0,3.0,Wash and Polish,WASH_AND_POLISH,20900.0,2022-11-30 11:43:16.614 -0500,NaN,NaN,NaN,237.0
8,72822,126943.0,12.0,Alfred Initial Transport,VEHICLE_TRANSPORTATION,35000.0,2022-11-30 11:43:16.537 -0500,NaN,NaN,2306.0,NaN
9,73987,129333.0,12.0,Alfred Initial Transport,VEHICLE_TRANSPORTATION,35000.0,2022-12-05 12:02:06.160 -0500,2023-01-05 07:27:00.000 -0500,2023-01-05 08:33:00.000 -0500,14662.0,NaN

Services:

,service_id,created_at,schedule_date,client_type,paying_customer,state_service,start_address_id,start_address_point,end_address_id,end_address_point,city
0,64839,2022-10-28 11:04:58.720 -0500,2023-01-06 10:00:00.000 -0500,B2C,29629,CANCELED,40184.0,POINT (-74.1229968 4.6082095),40184.0,POINT (-74.1229968 4.6082095),149.0
1,72389,2022-11-29 08:21:08.911 -0500,2023-01-13 07:00:00.000 -0500,B2C,25715,COMPLETED,34642.0,POINT (-74.0618875 4.663559499999999),34642.0,POINT (-74.0618875 4.663559499999999),149.0
2,72807,2022-11-30 11:18:01.313 -0500,2023-01-14 11:00:00.000 -0500,B2C,8773,COMPLETED,38667.0,POINT (-76.51785562935675 3.475724296400637),38667.0,POINT (-76.51785562935675 3.475724296400637),1004.0
3,72822,2022-11-30 11:43:16.433 -0500,2023-01-28 11:00:00.000 -0500,B2C,8773,CANCELED,38667.0,POINT (-76.51785562935675 3.475724296400637),38667.0,POINT (-76.51785562935675 3.475724296400637),1004.0
4,73987,2022-12-05 12:02:06.043 -0500,2023-01-05 08:00:00.000 -0500,B2C,24945,COMPLETED,33182.0,POINT (-74.0752624 4.7271946),33182.0,POINT (-74.0752624 4.7271946),149.0
5,74168,2022-12-05 21:48:10.084 -0500,2023-01-14 08:00:00.000 -0500,B2C,32537,CANCELED,46128.0,POINT (-74.1084873 4.7462233),46128.0,POINT (-74.1084873 4.7462233),149.0
6,74223,2022-12-06 08:54:10.337 -0500,2023-01-10 09:30:00.000 -0500,B2B,26435,COMPLETED,46154.0,POINT (-75.5710405 6.2095803),1606.0,POINT (-75.57438254356384 6.2283712162642235),1.0
7,75193,2022-12-12 08:09:01.923 -0500,2023-01-04 10:00:00.000 -0500,B2C,21824,COMPLETED,30645.0,POINT (-76.50825549999999 3.4688604),30645.0,POINT (-76.50825549999999 3.4688604),1004.0
8,75198,2022-12-12 08:22:34.561 -0500,2023-01-11 06:00:00.000 -0500,B2B,692,COMPLETED,45491.0,POINT (-74.0516308 4.6510668),3325.0,POINT (-74.06386971473694 4.709362767211348),149.0
9,75297,2022-12-12 11:00:28.703 -0500,2023-01-03 07:00:00.000 -0500,B2C,29133,COMPLETED,39145.0,POINT (-74.82550839999999 11.0211945),48779.0,POINT (-74.8131647 11.0142908),126.0

In [4]:
service_labors_df[service_labors_df['service_id']==72807]

,service_id,labor_id,labor_type,labor_name,labor_category,labor_price,labor_created_at,labor_start_date,labor_end_date,alfred,shop
4,72807,126912.0,12.0,Alfred Initial Transport,VEHICLE_TRANSPORTATION,35000.0,2022-11-30 11:18:02.219 -0500,2023-01-14 10:04:00.000 -0500,2023-01-14 10:48:00.000 -0500,2306.0,NaN
5,72807,126913.0,3.0,Wash and Polish,WASH_AND_POLISH,20900.0,2022-11-30 11:18:02.306 -0500,2023-01-14 10:48:00.000 -0500,2023-01-14 11:30:00.000 -0500,NaN,237.0
6,72807,126914.0,2.0,Alfred Transport,VEHICLE_TRANSPORTATION,35000.0,2022-11-30 11:18:02.642 -0500,2023-01-14 11:30:00.000 -0500,2023-01-14 12:03:00.000 -0500,2306.0,NaN

# Directorio

In [3]:
directorio_df = pd.read_csv('../../data/data_pre/directorio_df.csv')

In [5]:
address_df[address_df['shop']==14]

Empty DataFrame
Columns: [address_id, address, name, point, city, client, shop, alfred]
Index: []

In [7]:
directorio_df

,ALFRED'S,DIRECCION,UBICACION,LOCALIDAD,CIUDAD,city,start_time,end_time,latitud,longitud
0,Cesar Augusto Enciso,Cl. 44 Sur #72u-25,https://maps.app.goo.gl/4umgXouHXbeShQXz7,Timiza,Bogotá,BOGOTA,07:00:00,17:00:00,4.605784,-74.156331
1,Jorge Cortes Rojas,Calle 39 sur # 72m - 26,https://goo.gl/maps/nQdfNYAHqiyzhX768,Timiza,Bogotá,BOGOTA,07:00:00,17:00:00,4.612500,-74.147743
2,Mauricio Gomez Pachon,Calle 4b # 8b - 45,https://goo.gl/maps/DF3fav585mxwcEqD9,Cajica,Cajica,BOGOTA,08:00:00,18:00:00,4.911095,-74.030899
3,Orlando Jacinto,Calle 86 # 95d - 03,https://goo.gl/maps/h2ZTa92BKkg5NSHUA,Quirigua,Bogotá,BOGOTA,08:00:00,18:00:00,4.714216,-74.105709
4,Alberto Mora,Calle 162 #95-24,https://goo.gl/maps/Cy2azZpNRe2tWQRZ6,Suba,Bogotá,BOGOTA,07:00:00,17:00:00,4.757395,-74.080615
5,Jhon Fredy Grajales,Carrera 147a # 142 - 30,https://goo.gl/maps/EqMaNJZVF6KcMWEm6,Suba,Bogotá,BOGOTA,08:00:00,18:00:00,4.748588,-74.118284
6,Manuel Romero,Carrera 93 B # 132 - 14,https://goo.gl/maps/oNCnFwdCSUa4H6hD8,Suba,Bogotá,BOGOTA,07:00:00,17:00:00,4.731571,-74.088823
7,Yeisson Beltran Garzon,Calle 67 # 7 - 20,https://goo.gl/maps/i9HU3dnkivccKNPP8,Chapinero,Bogotá,BOGOTA,08:00:00,18:00:00,4.651110,-74.058364
8,Wilson Socha Cantor,Carrera 18m # 10 - 51,https://goo.gl/maps/gMfLhK6B2eYB95VA7,Soacha,Soacha,BOGOTA,07:00:00,17:00:00,4.589839,-74.224080
9,Javier Barragán,Carrera 1 #32a -20 sur,https://goo.gl/maps/n6xRF4i6eBA7o2Z3A,Soacha,Soacha,BOGOTA,08:00:00,18:00:00,NaN,NaN
10,Julio Cesar Parra,Carrera 46 # 152 - 29,https://goo.gl/maps/VBBFq4wihN6m8ezX9,Mazuren,Bogotá,BOGOTA,08:00:00,18:00:00,4.736232,-74.050241
11,Iván Darío Pinta,Calle 96 bis # 11- 68 Este,https://goo.gl/maps/LHMqtvfMq43FR8c18,San Luis,La Calera,BOGOTA,07:00:00,17:00:00,4.666103,-74.019902
12,José Ricardo Pérez Alarcón,Calle 133a # 103f - 42,https://maps.app.goo.gl/JTjTTpWGyk93VSNC9,Suba,Bogotá,BOGOTA,08:00:00,18:00:00,4.737882,-74.098985
13,Ancisar Echavarría,Calle 130c # 90 - 10,https://goo.gl/maps/gPQR2cLrXsb4UQee7,Suba,Bogotá,BOGOTA,07:00:00,17:00:00,4.727132,-74.087714
14,Omar Fonseca,Carrera 98 # 2 - 32,https://goo.gl/maps/RAtDhNqpNyga1zFZ6,Tintal,Bogotá,BOGOTA,08:00:00,18:00:00,4.651413,-74.169158
15,Jhon Zambrano,Carrera 143 #143b-54,https://goo.gl/maps/ombaGUa9nyixZGF16,Suba,Bogotá,BOGOTA,07:00:00,17:00:00,4.752290,-74.115064
16,Luis Bermúdez,Carrera 8b # 188 - 29,https://maps.app.goo.gl/496XpcGrB9vnvxJb6,Verbenal,Bogotá,BOGOTA,08:00:00,18:00:00,4.764907,-74.029195
17,Daniel Toro,Carrera 7b# 134b - 66,https://maps.app.goo.gl/NRtfACMwa4siiUDm9,Usaquen,Bogotá,BOGOTA,08:00:00,18:00:00,4.713843,-74.031351
18,Felipe Fautoque,Cra. 86b #53 - 22 Sur,https://maps.app.goo.gl/8A1KJU1nomMec1Z57,Bosa,Bogotá,BOGOTA,07:00:00,17:00:00,4.624369,-74.179919
19,Eliseo Arenas,Carrera 4b este # 29 - 58 sur,https://maps.app.goo.gl/MzMJzCfhv5V6YwMx5,Soacha,Bogotá,BOGOTA,08:00:00,18:00:00,4.580639,-74.204670
20,Roberto Amaya,Calle 57a # 92a - 51S,https://maps.app.goo.gl/Emzi82gnrEVpfCQy6,Bosa,Bogotá,BOGOTA,08:00:00,18:00:00,4.633120,-74.191943
21,Luis Fernando Matabanchoy,Cl 83 # 52D-73 multifamiliares la Posada,https://maps.app.goo.gl/2Rb5JQvUBzxaVHgAA,Santamaria,Itagui,MEDELLIN,07:00:00,17:00:00,6.190313,-75.593267
22,Julio Cesar Panesso,Calle 82 # 45-90 apto 202,https://maps.app.goo.gl/CGYBKG3g91p1dp7v5,Manrique,Manrique,MEDELLIN,07:00:00,17:00:00,6.274735,-75.554692
23,Juan Diego Mesa,calle 41 sur cra 25 aa 132 int 306,https://maps.app.goo.gl/sNz9PH2y179Wrq467,La mina,Envigado,MEDELLIN,08:00:00,18:00:00,6.158133,-75.582715
24,Jhon Vasquez,Calle 16 # 71-60 barrio Belén las playas,https://maps.app.goo.gl/bv2HYxE8Aws4PX9Q9,Las playas,Belen,MEDELLIN,08:00:00,18:00:00,6.221805,-75.593829
25,José Gonzáles Parra,Carrera 75 # 9aa- 11 Interior 201,https://maps.app.goo.gl/zkcT4dDsGZZvrTJy8,Las margaritas,Belen,MEDELLIN,08:00:00,18:00:00,6.219039,-75.597797
26,Pedro Callejas,Calle 47# 2bb-115,https://maps.app.goo.gl/u5ZGXT2tVGLjQurp7,Altamonte,Buenos Aires,MEDELLIN,08:00:00,18:00:00,6.226862,-75.532459
27,Jaime Yepes,Cr52#44-10,https://maps.app.goo.gl/LZWJ7kTuerxvy8cW6,Playa rica,Itagui,MEDELLIN,07:00:00,17:00:00,6.171520,-75.614182
28,Karen Viviana Martínez,Cra 43c # 20 d 37,https://maps.app.goo.gl/ESXizYeWRyP9QJkU6,Zamora,Zamora,MEDELLIN,07:00:00,17:00:00,6.309008,-75.553746
29,Jaime Enrique Dueñas,carrera 43a 39a-81,https://maps.app.goo.gl/WyzQRtT8hBz352h68,San Diego,San diego,MEDELLIN,07:00:00,17:00:00,6.238659,-75.567240
30,Aliut Villafañe,Carrera 12c # 57 - 04 La Inmaculada,https://maps.app.goo.gl/7qcACCXXbhwt6zz8A,Soledad,B/quilla,BARRANQUILLA,07:00:00,17:00:00,NaN,NaN
31,Erik Parejo,"Cra. 1d 1 #2, Cisneros",https://maps.app.goo.gl/DyHTJHTCDbxuNiyF6,NaN,NaN,BARRANQUILLA,08:00:00,18:00:00,10.931454,-74.793888
32,Carlos Fuentes Teherán,Calle 22 # 50 - 88 Zaragocilla,https://maps.app.goo.gl/D8Dy5d3aj5RooWmo7,Cartagena,Cartagena,CARTAGENA,08:00:00,18:00:00,10.397195,-75.504181
33,Jairo Caballero,Calle 110 # 34 - 25 piso 1,https://goo.gl/maps/1g1GjvSL1ZL4CJh9A,Floridablanca,B/manga,BUCARAMANGA,07:00:00,17:00:00,7.091060,-73.103732
34,Fabio Otalora,Manzana 43 . Casa 18,https://maps.app.goo.gl/AMQwzLYg2NhgpVEL9,samaria2,Pereira,PEREIRA,07:00:00,17:00:00,4.803959,-75.688049
35,Jairo Castillo,Cra. 7r #63-61,https://maps.app.goo.gl/rbQodVEGFE93Q6m17,NaN,Cali,CALI,07:00:00,17:00:00,3.455798,-76.487624
36,Juan Carlos Pianda,"Vía Cristo Rey, Callejón Palmeras Casa 27",https://goo.gl/maps/B3qB1NpqKrMuz5yv7,NaN,Cali,CALI,07:00:00,17:00:00,3.413121,-76.571815
37,Yuliana Marín,Calle 72d#8n-14,https://maps.app.goo.gl/EYkC2kTrKnpQwaer9,NaN,Cali,CALI,08:00:00,18:00:00,3.495015,-76.497612
38,Jeyson Caicedo,Calle 51 # 29a - 47,https://maps.app.goo.gl/Lv5wqG7AgmkPm8gm9,NaN,Cali,CALI,07:00:00,17:00:00,3.414168,-76.493745
39,Wilson Ospina,Carrera 10a # 7 - 37 San Cristoba,https://goo.gl/maps/UmWFJK7FsZibXi419,NaN,Cali,CALI,08:00:00,18:00:00,3.408419,-76.350501
40,Jose Largo,Calle 116 #25 - 96 ciudadela del rio,https://maps.app.goo.gl/jpe97KMXfbXj2HtE8,NaN,Cali,CALI,08:00:00,18:00:00,3.427079,-76.466410